.node-item-details {
    width: 100%;
    color: $ctrl-color;
    overflow: auto;
    padding: 0 10px;
    word-break: break-word;
    ul {
        padding: 0;
        li {
            list-style: none;
            margin-bottom: 6px;
        }
    }
    legend {
        color: $ctrl-color;
        border: none;
        margin-bottom: 5px;
    }
    input,
    select {
        display: block;
        width: 100%;
    }
    input[type="checkbox"] {
        width: auto;
    }
    label {
        font-weight: normal;
        font-size: 1.5rem;
    }
    .icon-button {
        margin-left: 12px;
    }
    fieldset {
        position: relative;
        margin: 5px 0 20px 0;
        &:before {
            position: absolute;
            top: -5px;
            left: 0;
            right: 0;
            content: "";
            display: block;
            padding: 2px 0;
            border-top: 1px solid #1c2732;
        }
        &:first-of-type {
            &:before {
                display: none;
            }
        }
    }
}