<div class="tree-page">
  <div class="tree-page-head">
    <div class="tree-page-top-menu">
      <ul class="top-menu" ng-controller="CommandTopMenuCtrl as menu">
        <li class="btn-group dropdown" uib-dropdown ng-repeat="section in ::menu.sections">
          <a uib-dropdown-toggle href="#" class="dropdown-toggle">{{section.name}}</a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li ng-repeat="item in ::section.items">
              <a href="#" ng-click="item.action()">{{item.title}}<span ng-if="item.hotkey"
                  class="hotkey">{{item.hotkey}}</span></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="tree-page-breadcrumb">
      <ol class="breadcrumb">
        <li>
          <a ng-href="/">Home</a>
        </li>
        <li class="active">{{tree.path}}</li>
      </ol>
    </div>
    <alert-panel></alert-panel>
  </div>
  <div class="tree-page-main">
    <side-panel title="Item palette" name="item-palette" position="left">
      <tree-item-palette></tree-item-palette>
    </side-panel>
    <div class="tree-page-tree">
      <tree-view root-node="tree.rootNode"></tree-view>
    </div>
    <side-panel title="Item Details" name="item-details" position="right">
      <tree-item-details></tree-item-details>
    </side-panel>
  </div>
</div>