.main-page {
    .main-page-head {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 20px 10px;
        background: $top-menu-background-color;
        border-bottom: solid 1px $top-menu-border-color;
    }
    .main-page-body {
        padding-top: 100px;
    }
}