$block: ".tree-item-details";
#{$block} {
    width: 100%;
    word-break: break-word;
    color: $ctrl-color;
    overflow: hidden;
    height: 100%;
  
    &_no-sel {
        padding-top: 10px;
        text-align: center;
    }
}