.tree-mru-list {
    margin: 0;
    padding: 0;
    .mru-item {
        position: relative;
        list-style: none;
    }
    .remove-btn {
        position: absolute;
        top: 2px;
        right: 2px;
        color: #cccccc;
        &:focus,
        &:visited {
            color: #cccccc;
            text-decoration: none
        }
        &:active,
        &:hover {
            color: $ctrl-focus-color;
            text-decoration: none
        }
    }
    a {
        display: block;
        padding: 5px 15px;
        margin-bottom: 15px;
        border-left: solid 10px #1C2732;
        background: #202e3c;
        &:focus,
        &:visited,
        &:active,
        &:hover {
            text-decoration: none
        }
        &:active,
        &:hover {
            border-left-color: $ctrl-highlight-background-color;
            text-decoration: none
        }
    }
    .name {
        font-size: 1.6rem;
        color: #cccccc;
    }
    .path {
        font-size: 1.4rem;
        color: #929292;
    }
}