$block: ".tree-item-palette-item";
#{$block} {
    padding: 5px 10px;
    cursor: pointer;
    color: $ctrl-color;
    margin-top: 1px;
    border-left: transparent solid 5px;
    &.selected {
        background: $ctrl-highlight-background-color;
    }
    &:hover {
        background: $ctrl-hover-color;
    }
    &_icon {
        margin-right: 5px;
    }
}