$block: ".tree-item-palette";
#{$block} {
    width: 100%;
    word-break: break-word;
    color: $ctrl-color;
    overflow: hidden;
    height: 100%;
    ul {
        padding: 0;
        list-style: none;
    }
    .item {
        padding: 5px 10px;
        cursor: pointer;
        color: $ctrl-color;
        margin-top: 1px;
        &.selected {
            background: $ctrl-highlight-background-color;
        }
        &:hover {
            background: $ctrl-hover-color;
        }
    }
}