$block: ".tree-item-palette-group";
#{$block} {
    &_title {
        padding: 10px 15px;
        background: lighten($color: $dlg-background-color, $amount: 5%);
        cursor: pointer;
        &:visited,
        &:focus {
            color: $ctrl-color;
            text-decoration: none;
        }
        &:active,
        &:hover {
            color: $ctrl-focus-color;
            text-decoration: none;
            background: lighten($color: $dlg-background-color, $amount: 10%);
        }
    }
    &_state-icon {
        float: right;
    }
    &_items {
        padding: 0;
        list-style: none;
    }
}