$block: ".tree-item-palette";
#{$block} {
    width: 100%;
    word-break: break-word;
    color: $ctrl-color;
    overflow: hidden;
    height: 100%;
    ul {
        padding: 0;
        list-style: none;
    }
    &_group {
        padding: 10px;
        background: $ctrl-highlight2-color;
    }
    &_no-sel {
        padding-top: 10px;
        text-align: center;
    }
}