<div class="tree-page">

  <ul class="top-menu">
    <li class="btn-group" uib-dropdown class="dropdown">
      <a uib-dropdown-toggle href="#" class="dropdown-toggle">File</a>
      <ul class="dropdown-menu" uib-dropdown-menu>
        <li><a href="#" ng-click="tree.save()">Save</a></li>
      </ul>
    </li>

    <li class="btn-group" uib-dropdown class="dropdown">
      <a uib-dropdown-toggle href="#" class="dropdown-toggle">Edit</a>
      <ul class="dropdown-menu" uib-dropdown-menu>
        <li><a href="#" ng-click="tree.undo()">Undo</a></li>
        <li><a href="#" ng-click="tree.redo()">Redo</a></li>
      </ul>
    </li>

    <li><a href="#" ng-click="tree.showCommandPalette()">CommandPalette</a></li>
  </ul>

  <tree-view root-node="tree.rootNode"></tree-view>

  <section class="node-item-details" ng-if="tree.TreeSelection.selItem()">
    <h1>Details - {{tree.TreeSelection.selItem().type}}</h1>
    <div ng-if="tree.TreeSelection.selItem().$meta.desc.isInvalid">
      Error: Missing descriptor in project file
    </div>
    <fieldset class="node-item-properties" ng-if="tree.selIsDecorator()">
      <legend>Base properties</legend>
      <div ng-include="'app/tree/decoratorBasePropertyEditor/decoratorBasePropertyEditor.html'"></div>
    </fieldset>
    <fieldset class="node-item-properties" ng-if="!tree.TreeSelection.selItem().$meta.desc.isInvalid">
      <legend>Custom properties</legend>
      <property-editor-list></property-editor-list>
    </fieldset>
  </section>

  <alert-panel></alert-panel>

</div>
