.fuzzy-list {
  input {
    width: 100%;
    margin-bottom: 10px;
  }
  ul {
    max-height: 300px;
    overflow: auto;
    li {
      .icon {
        margin-right: 5px;
      }
      &.color{
        border-left: solid 5px;
      }
      &:not(.color){
        padding-left: 15px;
      }
    }
  }
  em {
    color: white;
    font-style: normal;
    font-weight: bold;
  }

  .selectable{
    padding: 0;
    li{
      cursor: pointer;
      list-style: none;
      padding: 10px;
      background: $ctrl-background-color;
      color: $ctrl-color;
      margin-top: 1px;
      &.selected{
        background: $ctrl-highlight-background-color;
      }
      &:hover{
        background: $ctrl-hover-color;
      }
    }
  }
}
.fuzzy-list-aside-inf {
  float: right;
  color: $ctrl-color;
  background: rgba(#46627d, 0.3);
  border: solid 1px $ctrl-color;
  border-radius: 3px;
  padding: 0 3px;
}
