.fuzzy-list {
    input {
        width: 100%;
        margin-bottom: 10px;
    }
    ul {
        padding: 0;
        max-height: 300px;
        overflow: auto;
        li {
            cursor: pointer;
            display: flex;
            list-style: none;
            padding: 10px;
            background: $ctrl-background-color;
            color: $ctrl-color;
            margin-top: 1px;
            word-break: break-all;
            align-items: center;
            &.selected {
                background: $ctrl-highlight-background-color;
            }
            &:hover {
                background: $ctrl-hover-color;
            }
            .icon {
                margin-right: 5px;
            }
            &.color {
                border-left: solid 5px;
            }
            &:not(.color) {
                padding-left: 15px;
            }
        }
    }
    em {
        color: white;
        font-style: normal;
        font-weight: bold;
    }
}

.fuzzy-list-aside-inf {
    margin-left: auto; //https://hackernoon.com/flexbox-s-best-kept-secret-bd3d892826b6
    color: $ctrl-color;
    background: rgba(#46627d, 0.3);
    border: solid 1px $ctrl-color;
    border-radius: 3px;
    padding: 0 3px;
}