$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';


/**
 * Settings
 */
$main-background-color: #243342;
$dlg-light-background-color : #507295;
$dlg-background-color : #2C3E50;
$ctrl-color : #cccccc;
$ctrl-highlight-color : #C65C5C;
$ctrl-highlight2-color : #b15454;
$ctrl-input-color : #161b20;
$ctrl-border-color : #2C3E50;
$ctrl-background-color : #243342;
$ctrl-hover-color : #3D566F;
$ctrl-highlight-background-color : #C65C5C;
$text-light-color: #777777;
$ctrl-input-err-border-color: #C65C5C;
$ctrl-input-err-background-color: #ffd2d2;
//tree
$node-selected-border-color : #C65C5C;
$node-background-color : #ECECEC;
$line-color : #ECECEC;
$node-icon-color: white;
$composite-node-background-color: #d08038;
$action-node-background-color: #955cc6;
$node-decorator-background-color: #5c90c6;
$node-service-background-color: #5cc690;
$node-color: white;
$node-service-color: #333333;
$node-decorator-color: #333333;
$invalid-node-item-background-color : #C65C5C;
//context menu
$context-menu-border-color: #1C2732;
$context-menu-background-color: #2C3E50;
$context-menu-color:#cccccc;
$context-menu-hover-background-color: $ctrl-hover-color;
//dropdown
$dropdown-border-color: #1C2732;
$dropdown-background-color: #2C3E50;
$dropdown-color:#cccccc;
$dropdown-hover-background-color: $ctrl-hover-color;
//top menu
$top-menu-border-color: #1C2732;
$top-menu-background-color: #2C3E50;
$top-menu-color:#cccccc;
$top-menu-hover-background-color: $ctrl-hover-color;
/**
 * App-wide Styles
 */
 $warn-color : #C65C5C;

body{
  background: $main-background-color;
}

a{
  &:focus,
  &:visited{
      color: #cccccc;
      text-decoration: none
  }
  &:active,
  &:hover {
      color: #cccccc;
      text-decoration: underline
  }
}

.breadcrumb {
    margin: 0;
    border-radius: 0;
    background: $main-background-color;
    border-bottom: solid 1px $top-menu-border-color;
    &>li+li:before {
        content: '>';
    }
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.icon-button{
  cursor: pointer;
  margin: 0 3px;
  &:hover{
    color: $ctrl-highlight-color;
  }
}

.modal-content
{
  border-radius: 0;
  background: $dlg-background-color;
}

.dropdown-menu {
  background: $dropdown-background-color;
  border: solid 1px $dropdown-border-color;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  li {
    display: block;
  }
  a {
    display: block;
    &,
    &:visited,
    &:focus {
      color: $dropdown-color;
      text-decoration: none;
      background: none;
    }
    &:active,
    &:hover {
      color: $dropdown-color;
      text-decoration: none;
      background: $dropdown-hover-background-color;
    }
  }
  .divider {
    background: $dropdown-border-color;
  }
}

.alert{
  margin-bottom: 0;
  border-radius: 0;
}

input.ng-invalid{
  border-color:  $ctrl-input-err-border-color;
  background: $ctrl-input-err-background-color;
}

// Component styles are injected through grunt
// injector
@import 'main/main.scss';
@import 'tree/commandTopMenu/commandTopMenu.scss';
@import 'tree/tree.scss';
@import 'tree/treeItemPalette/treeItemPalette.scss';
@import 'tree/treeItemPalette/treeItemPaletteGroup.scss';
@import 'tree/treeItemPalette/treeItemPaletteItem.scss';
@import 'tree/treeNodeItemDetails.scss';
@import 'contextMenu/contextMenu.scss';
@import 'listSelectDialog/fuzzyList/fuzzyList.scss';
@import 'listSelectDialog/listSelectDialog.scss';
@import 'msgPanel/msgPanel.scss';
@import 'sidePanel/sidePanel.scss';
@import 'treeMruList/treeMruList.scss';
// endinjector
